<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="top-bar clearfix">
                    <!--Start top left content-->
                    <div class="top-left-content clearfix float-left">
                        <p><span class="icon-mountain thm-clr"></span>For any service business you can trust We2Web... </p>
                    </div>
                    <!--End top left content-->
                    <!--Start top right content-->
                    <div class="top-right-content clearfix float-right">
                        <div class="top-social-box">
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/we2web/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/we2web/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/we2web/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/we2web/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://wa.me/+919306812130" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCzJ5_8o5onzQEVtpk_y8zeQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                
                            </ul>
                        </div>
                     
                    </div>
                    <!--End top right content-->  
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End Top bar area --> 
 
<!--Start header area-->
<header class="header-area" >
        <div class="container" >
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="inner-content clearfix">
                    <div class="header-left float-left">
                        <div class="logo">
                            <a routerLink="home">
                               <img src="../../assets/images/icon/1.png" class="mohit">
                            </a>
                        </div>
                    </div>
                    <div class="header-middle clearfix float-left">
                        <!--Start mainmenu-->
                        <nav class="main-menu clearfix float-left">
                            <div class="navbar-header clearfix navbar navbar-expand-md navbar-light bg-faded">   	
                                <button  (click)="toggleMenu()" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                           
                            </div>
                            <div class="navbar-collapse collapse clearfix navbar navbar-expand-md navbar-light bg-faded" [collapse]="isCollapsed" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a routerLink="home" [routerLinkActive]="'active'">Home</a></li>
                                    <li class="dropdown"><a routerLink="about" [routerLinkActive]="'active'">About Us</a>
                                        <!-- <ul>
                                            <li><a href="about.html">About Company</a></li>
                                            <li><a href="team.html">Meet Our Team</a></li>
                                            <li><a href="cases.html">Our Cases</a></li>
                                            <li><a href="cases-single.html">Cases Single</a></li>
                                            <li><a href="faq.html">FAQ’s</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                            <li><a href="404.html">Error Page</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown"><a routerLink="services" [routerLinkActive]="'active'">Services</a>
                                        <!-- <ul>
                                            <li><a href="services.html">View All Services</a></li>
                                            <li><a href="ser-financial.html">Financial Planning</a></li>
                                            <li><a href="ser-business.html">Business Services</a></li>
                                            <li><a href="ser-software.html">Software & Research</a></li>
                                            <li><a href="ser-quality.html">Quality Resourcing</a></li>
                                            <li><a href="ser-travel-aviation.html">Travel and Aviation</a></li>
                                            <li><a href="ser-digital.html">Digital Transformation</a></li>
                                        </ul> -->
                                    </li>
                                    <!-- <li class="dropdown"><a href="blog.html">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Default</a></li>
                                            <li><a href="blog-large.html">Blog Large</a></li>
                                            <li><a href="blog-single.html">Blog Single Post</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="dropdown"><a href="shop.html">Shop</a>
                                        <ul>
                                            <li><a href="shop.html">Shop Products</a></li>
                                            <li><a href="shop-single.html">Products Single</a></li>
                                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="account.html">My Account</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a routerLink="contact" [routerLinkActive]="'active'">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!--End mainmenu-->    
                    </div>
                    <div class="header-right float-right">
                        
                        <div class="contact-us">
                            <span>Need Help? Talk to us</span><br>
                            <a href="tel:+91-93068-12130">+91-93068-12130</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>  