    <!--Start footer area-->  
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!--Start single footer widget-->
                <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">
                    <div class="single-footer-widget">
                        <div class="our-info">
                            <div class="footer-logo">
                                <a routerLink="home">
                                   <h2 style="color:#ffffff ;">WE2WEB</h2>
                                </a>
                            </div>
                            <div class="text">
                                <p>Our team offers  most up to date, sustainable manufacturing solutions. teachings of the great explorer of the truth We only source materials from tried and trusted suppliers, we have built an enviable reputation in the consumer goods, heavy industry.</p>
                                <div class="about-company">
                                    <a routerLink="about">More About Company <span class="icon-arrows"></span></a>
                                </div>
                                <div class="bottom">
                                    <span>Visit Our Office</span> 
                                    <p>9am to 5pm or talk to an expert +91 93068-12130 , Available 24*7.</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="single-footer-widget pdtop-50">
                        <div class="title">
                            <h3>Usefull Links</h3>
                            <div class="decor thm-bg-clr"></div>
                        </div>
                        <ul class="usefull-links left">
                            
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="about">About Us</a></li>
                            <li><a routerLink="services">Services</a></li>
                            <!-- <li><a href="#">Meet Our Team</a></li>
                            <li><a href="#">Case Studies</a></li>
                            <li><a href="#">Get a Quote</a></li>
                            <li><a href="#">Testimonials</a></li> -->
                            <li><a href="#">Privacy & Policy</a></li>
                            <li><a routerLink="contact">Contact Us</a></li>
                        </ul>
                        <ul class="usefull-links">
                            <!-- <li><a href="#">Organization</a></li>
                            <li><a href="#">Customer Insights</a></li>
                            <li><a href="#">Advanced Analytics</a></li>
                            <li><a href="#">Performance</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Business Growth</a></li> -->
                        </ul> 
                    </div>
                </div>
                <!--End single footer widget-->
                <!--Start single footer widget-->
                <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                    <div class="single-footer-widget pdtop-50">
                        <div class="title">
                            <h3>Recent Post</h3>
                            <div class="decor thm-bg-clr"></div>
                        </div>
                        <ul class="recent-post">
                            <li>
                                <span class="thm-clr">February 26th, 2018</span>
                                <a href="#">Easy steps to move from fear to confidence.</a>
                            </li>
                            <li>
                                <span class="thm-clr">February 26th, 2018</span>
                                <a href="#">Easy steps to move from fear to confidence.</a>
                            </li>      
                        </ul>    
                    </div>
                </div>
                <!--End single footer widget-->
                
            </div>
        </div>
    </footer>   
    <!--End footer area--> 
    
    <!--Start footer bottom area--> 
    <section class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom">
                        <div class="copyright-text pull-left">
                            <p>Copyright © 2020-2022 <a class="thm-clr" href="#">We2Web</a>. All Rights Reserved.</p>
                        </div>
                        <div class="footer-social-links pull-right">
                            <ul>
                                <li><a href="https://www.facebook.com/we2web/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/we2web/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/we2web/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/we2web/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://wa.me/+919306812130" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCzJ5_8o5onzQEVtpk_y8zeQ" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>kkkkk
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
        </div>    
    </section> 