<div class="boxed_wrapper">

    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image: url(../../assets/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="title float-left">
                       <h1>Financial Planning</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Financial Planning</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area--> 
    
    <!--Start Single service area-->
    <section id="single-service-area">
        <div class="pattern-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="content-box">
                        <!--Start single ser top content-->
                        <div class="single-ser-top-content">
                            <div class="sec-title">
                                <h2>Introduction</h2>
                            </div>
                            <div class="inner-content">
                                <div class="img-holder">
                                    <img src="images/services/service-single/introduction.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-holder">
                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and  will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because occasionally circumstances occur.</p>
                                    <a class="btn-one thm-bg-clr" href="#">Start Yours</a>
                                </div>
                            </div>
                        </div>
                        <!--End single ser top content-->
                        <!--Start planning strategies content -->
                        <div class="planning-strategies-content">
                            <div class="sec-title">
                                <h2>Planning & Development</h2>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <p>Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in  great 
                                     pleasure example, which of us ever undertakes.</p>
                                </div>
                                <div class="single-verticle-carousel">
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-business-2 thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Market Sharing</h3>
                                                    <p>Explain to you how all this mistaken idea of denouncing pleasure & praising born and will give you a complete
                                                    account of the system.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-technology-2 thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Support Our Client</h3>
                                                    <p>Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which procure.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single last">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-book thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Research & Development</h3>
                                                    <p>There anyone who loves or pursues or desires to obtain pain of itself, because pain, but because
                                                     occasionally circumstances.</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-business-2 thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Market Sharing</h3>
                                                    <p>Explain to you how all this mistaken idea of denouncing pleasure & praising born and will give you a complete
                                                    account of the system.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-technology-2 thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Support Our Client</h3>
                                                    <p>Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which procure.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single last">
                                            <li>
                                                <div class="icon-box">
                                                    <span class="icon-book thm-clr"></span>
                                                </div>
                                                <div class="text-box">
                                                    <h3>Research & Development</h3>
                                                    <p>There anyone who loves or pursues or desires to obtain pain of itself, because pain, but because
                                                     occasionally circumstances.</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    
                                </div>                 
                            </div>
                        </div>
                        <!--End planning strategies content -->
                        <!--Start profit improvement box-->
                        <div class="profit-improvement-box">
                            <div class="sec-title">
                                <h2>Profit Improvement</h2>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-10">
                                    <div class="chart-box">
                                        <img src="images/services/service-single/profit-improvement-chart.png" alt="Chart">
                                    </div>      
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="text-holder">
                                        <div class="text">
                                            <p>Great explorer the truth, master-builder human happiness one rejects dislikes or avoids pleasure itself because pleasure but because those who  not know how to pursue rationally consequences that are extremely painful  there anyone who loves or pursues or desires.</p>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Production technques (e.g. irrigation managment, recommended nitrogen inputs)</p>    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Improving agricultural productivity in terms of quantity & quality.</p>    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Minimizing the effects of pests (weeds, insects, pathogens, nematodes).</p>    
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <!--End profit improvement box-->
                        <!--Start approach content box-->
                        <div class="approach-content-box">
                            <div class="sec-title">
                                <h2>Our Approach</h2>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="text">
                                        <p>Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in  great pleasure example, which of us ever undertakes.</p>
                                    </div>
                                    <div class="accordion-holder style-one">
                                        <!-- Accordion -->
                                        <article class="accordion">
                                            <div class="acc-btn active">
                                                <div class="toggle-icon"><span class="icon-layers"></span></div> 
                                                <h3>Iterate Design</h3>
                                            </div>
                                            <div class="acc-content collapsed">
                                                <div class="inner">
                                                    <p>Pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the born and I will give you a complete account of the system.</p>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- Accordion -->
                                        <article class="accordion">
                                            <div class="acc-btn">
                                                <div class="toggle-icon"><span class="icon-tool"></span></div> 
                                                <h3>Validate Develop</h3>
                                            </div>
                                            <div class="acc-content">
                                                <div class="inner">
                                                    <p>Pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the born and I will give you a complete account of the system.</p>
                                                </div>
                                            </div>
                                        </article>
                                        <!-- Accordion -->
                                        <article class="accordion">
                                            <div class="acc-btn">
                                                <div class="toggle-icon"><span class="icon-settings"></span></div> 
                                                <h3>Optimize Deliver</h3>
                                            </div>
                                            <div class="acc-content">
                                                <div class="inner">
                                                    <p>Pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the born and I will give you a complete account of the system.</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!--End approach content box--> 
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-9 col-sm-12">
                    <div class="sidebar-box">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Services</h3>
                            </div>
                            <div class="service-list-box">        
                                <ul class="page-links">
                                    <li><a class="active" href="ser-financial.html">Financial Planning</a></li>
                                    <li><a href="ser-business.html">Business Services</a></li>
                                    <li><a href="ser-software.html">Software & Research</a></li>
                                    <li><a href="ser-quality.html">Quality Resourcing</a></li>
                                    <li><a href="ser-travel-aviation.html">Travel and Aviation</a></li>
                                    <li><a href="ser-digital.html">Digital Transformation</a></li>                 
                                </ul>
                            </div>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Brochures</h3>
                            </div>
                            <div class="service-brochures">
                                <ul class="brochures-dwn-link clearfix">
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.pdf</h5>    
                                                <span>Service Overview</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.doc</h5>    
                                                <span>About Our Company</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Testimonials</h3>
                            </div>
                            <div class="sidebar-testimonial-box">
                                <div class="sidebar-testimonial owl-carousel owl-theme">
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-2.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Trina Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div> 
                
            </div>
        </div>
    </section>
    <!--End Single service area-->

    </div> 