.market{
    height: 60px;
    width:60px;
    margin-top: 10px;
    // margin-left: 5px;
}
.market1{
    height: 50px;
    width: 50px;
    margin-top:17px;
}

.single-sidebar{
    width:300px;
}
.market2{
    height:50px;
    margin-top: 1rem;
}