<div class="boxed_wrapper">

    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image: url(../../assets/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="title float-left">
                       <h1>Web Design & Development </h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Web Design & Development</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area--> 
    
    <!--Start Single service area-->
    <section id="single-service-area">
        <div class="pattern-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="content-box">
                        <!--Start single ser top content-->
                        <div class="single-ser-top-content">
                            <div class="sec-title">
                                <h2>Introduction</h2>
                            </div>
                            <div class="inner-content">
                                <div class="img-holder">
                                    <img src="../../assets/images/services/website/htm.png" alt="Awesome Image">
                                </div>
                                <div class="text-holder">
                                    <p>Web design development is a process of creating a website, usually focusing on aesthetic factors like layout, user interface, and other visual elements. A high-level goal of web design is to make a visually appealing website, whish is also easy to use.</p>
                                    <a class="btn-one thm-bg-clr" href="#">Start Yours</a>
                                </div>
                            </div>
                        </div>
                        <!--End single ser top content-->
                        <!--Start planning strategies content -->
                        <div class="planning-strategies-content">
                            <div class="sec-title">
                                <h2>Thrive’s Digital Marketing Services</h2>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <p>Build Brand Recognition as an Industry Leader and Increase Profitability.                                    </p>
                                </div>
                                <div class="single-verticle-carousel">
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market2"  src="../../assets/images/services/website/2.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Information gathering</h3>
                                                    <p>The focus of the first step is to gather all the necessary information for the project. As a design team, you should ask relevant questions to go deeper into the business needs. Carefully analyze the client's requirements, define the website purpose, and determine the goals of the website. </p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market1"  src="../../assets/images/services/website/map.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Planning and strategy, wireframing                                                    </h3>
                                                    <p>Using the information gathered from phase one, it is time to put it together and make a detailed website plan. At this point, a site map is developed. Site map is the list of all main topic areas of the website, including sub-topics, if applicable. This map will clarify what content will be on the website and will help to understand the navigational structure.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single last">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market"  src="../../assets/images/services/website/graphic.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Graphical design
                                                    </h3>
                                                    <p>As a part of the design process, it is essential to carefully and tastefully apply such visual elements as the logo and brand colors, to strengthen the brand identity on the website. During the design phase, the team usually creates one or more prototypes for the website. A prototype is typically a static image, which represents the final look of the website. </p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                   <img class="market2"  src="../../assets/images/services/website/build.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Development/build
                                                    </h3>
                                                    <p>At this point, the design itself should be ready. But it is usually in the form of static images. It requires extra development effort to translate it into HTML/CSS, and then to add a layer of animations or JavaScript, depending on the complexity of the design.
                                                        First, the homepage is developed, followed by a "shell" for the interior pages. The shell serves as a template for the content pages of the website, as it contains the main menu for the website. </p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                   <img class="market2"  src="../../assets/images/services/website/text.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Testing
                                                    </h3>
                                                    <p>When the content and the visuals are in place, the testing process can be started. Every page has to be tested to make sure that all links are working and the website is displayed correctly in different browsers. Even the word order in titles and descriptions has an impact on the webpage performance in various search engines. </p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                   <img class="market2"  src="../../assets/images/services/website/www.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Delivery and launch

                                                    </h3>
                                                    <p>Once you are given a final approval from the client, it is time for the website to go live. But before that, the site should be ran-through for the last time to confirm that all files have been uploaded correctly, and the site is fully functional. Besides, the website domain name should be registered, and web hosting accounts set up</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </div>                 
                            </div>
                        </div>
                        <!--End planning strategies content -->
                        <!--Start profit improvement box-->
                        <!--End profit improvement box-->
                        <!--Start approach content box-->
                        <!--End approach content box--> 
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-9 col-sm-12">
                    <div class="sidebar-box">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Services</h3>
                            </div>
                            <div class="service-list-box">        
                                <ul class="page-links">
                                    <li><a   routerLink="/digital-marketing">Digital Marketing</a></li>
                                    <li><a routerLink="/mobile-app-development">Mobile App Development</a></li>
                                    <li><a routerLink="/web-hosting" >Web Hosting</a></li>
                                    <li><a routerLink="/web-design-development" class="active">Web Design & Development</a></li>
                                    <li><a routerLink="/seo">Search Engine Optimization</a></li>
                                    <li><a routerLink="/graphic-desiging">Graphic Desiging</a></li>                 
                                </ul>
                            </div>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Brochures</h3>
                            </div>
                            <div class="service-brochures">
                                <ul class="brochures-dwn-link clearfix">
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.pdf</h5>    
                                                <span>Service Overview</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.doc</h5>    
                                                <span>About Our Company</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Testimonials</h3>
                            </div>
                            <div class="sidebar-testimonial-box">
                                <div class="sidebar-testimonial owl-carousel owl-theme">
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-2.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Trina Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div> 
                
            </div>
        </div>
    </section>
    <!--End Single service area-->

    </div> 