<div class="boxed_wrapper">

    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image: url(../../assets/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="title float-left">
                       <h1>Search Engine Optimization</h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">SEO</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area--> 
    
    <!--Start Single service area-->
    <section id="single-service-area">
        <div class="pattern-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="content-box">
                        <!--Start single ser top content-->
                        <div class="single-ser-top-content">
                            <div class="sec-title">
                                <h2>Introduction</h2>
                            </div>
                            <div class="inner-content">
                                <div class="img-holder">
                                    <img src="../../assets/images/services/seo/seo.png" alt="Awesome Image" class="img23">
                                </div>
                                <div class="text-holder">
                                    <p>A Good SEO practice is the backbone of the behavior of your website in search engine ranking. We2Webis the leading SEO service company in India.</p>
                                    <a class="btn-one thm-bg-clr" href="#">Start Yours</a>
                                </div>
                            </div>
                        </div>
                        <!--End single ser top content-->
                        <!--Start planning strategies content -->
                        <div class="planning-strategies-content">
                            <div class="sec-title">
                                <h2>Mobile Application Development
                                </h2>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <p>Developing a new mobile app for Android or iOS? Anticipate the challenges of mobile application development and tap into the cloud to enhance the user experience.                                </p>
                                </div>
                                <div class="single-verticle-carousel">
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market1"  src="../../assets/images/services/seo/5.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Dedicated SEO Manager                                                    </h3>
                                                    <p>All SEO campaigns are assigned a Dedicated Project Coordinator who will communicate with the Managed SEO customer on campaign, performance and outcomes.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market2"  src="../../assets/images/services/seo/2.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Keyword Targeting </h3>
                                                    <p>We target keywords that are right for your business, product and/or service, those that match the intent of your customers.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single last">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market3"  src="../../assets/images/services/seo/4.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Content Relevancy </h3>
                                                    <p>Expert SEO assistance to boost rankings through optimised content for the most effective keywords</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                   <img class="market4"  src="../../assets/images/services/seo/3.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Link Building</h3>
                                                    <p>Our SEO experts will submit unique content to blogs, directories, submission websites, and social bookmarking sites to boost authority & thereby rankings. </p>
                                                </div>
                                            </li>
                                        </div>
                                    <div class="single last">
                                        <li>
                                            <div class="icon-box">
                                                <img class="market5"  src="../../assets/images/services/seo/6.png">
                                            </div>
                                            <div class="text-box">
                                                <h3>Website Analytics
                                                </h3>
                                                <p>Learn exactly how many people are visiting your website and if they are new visitors or returning customers.

                                                </p>
                                            </div>
                                        </li>
                                    </div>
                                    
                                </ul>
                                <ul  class="single-box">
                                    <div class="single">
                                        <li>
                                            <div class="icon-box">
                                                <img class="market6"  src="../../assets/images/services/seo/1.png">
                                            </div>
                                            <div class="text-box">
                                                <h3>Website Analytics
                                                </h3>
                                                <p>Learn exactly how many people are visiting your website and if they are new visitors or returning customers.
    
                                                </p>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
        
                                    <!--End single box-->
                                    
                                </div>                 
                            </div>
                        </div>
                        <!--End planning strategies content -->
                        <!--End profit improvement box-->
                        <!--Start approach content box-->
                        <!--End approach content box--> 
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-9 col-sm-12">
                    <div class="sidebar-box">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Services</h3>
                            </div>
                            <div class="service-list-box">        
                                <ul class="page-links">
                                    <li><a  routerLink="/digital-marketing">Digital Marketing</a></li>
                                    <li><a routerLink="/mobile-app-development">Mobile App Development</a></li>
                                    <li><a routerLink="/web-hosting" >Web Hosting</a></li>
                                    <li><a routerLink="/web-design-development" >Web Design & Development</a></li>
                                    <li><a routerLink="/seo"  class="active">Search Engine Optimization</a></li>
                                    <li><a routerLink="/graphic-design">Graphic Desiging</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Brochures</h3>
                            </div>
                            <div class="service-brochures">
                                <ul class="brochures-dwn-link clearfix">
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.pdf</h5>    
                                                <span>Service Overview</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.doc</h5>    
                                                <span>About Our Company</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Testimonials</h3>
                            </div>
                            <div class="sidebar-testimonial-box">
                                <div class="sidebar-testimonial owl-carousel owl-theme">
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-2.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Trina Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div> 
                
            </div>
        </div>
    </section>
    <!--End Single service area-->

    </div> 