.market{
    height: 60px;
    width:60px;
    margin-top: 10px;
    // margin-left: 5px;
}
.market1{
    height: 47px;
    width: 40px;
    margin-top: 14px;
}
.market2{
    width: 38px;
    height: 41px;
    margin-top: 20px;
}
.market3{
    width: 41px;
    height: 50px;
    margin-top: 13px;
}
.market4{
    width: 40px;
    margin-top: 18px;
}
.market5{
    width:50%;
    margin-top: 17px;
}
.market6{
    width:50%;
    margin-top: 17px;
}
.single-sidebar{
    width:300px;
}
.img-holder img {
    height: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
}
.chart-box img{
    width:5000px
}
.img-holder .img23{
    width: 85%;
    height: 442px;
}