.golu{
    font-size: 13px ;
}
.mobile{
    height: 70px;
    width: 70px;
    flex-direction: center;
}
.blog-img{
    height:250px;
    width: 20px;
}

.display-icon{
    height: 55px;
    width: 55px;
}
.social-icon{
    height: 50px;
    width: 50px;
    margin-left: -12px;
    margin-bottom: 2px;
}
.m{
    width: 200px;
    height: 200px;
}