<div class="boxed_wrapper">

    
    <!-- Top bar area -->  

    <!--End header area-->    
    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image: url(../../assets/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="sec-title text-center">
                <div class="title">Our Services</div>
                <div class="dector thm-bg-clr center"></div>
            </div>
            <div class="row">
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                                <img class="m" src="../../assets/images/services/1.jpg" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/digital.png"></div>
                                <h3>Digital Marketing</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/digital.png"></div>
                                <h3>Digital Marketing</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">Going digital is the way forward for any business, and we try to reflect our beliefs through dedication in our digital marketing services.</p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/digital-marketing">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                              <img class="m" src="../../assets/images/services/app.jpg" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/mobile.png"></div>
                                <h3>Mobile App Development</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/mobile.png"></div>
                                <h3>Mobile App Development</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">In this digital era website, mobile applications are basic identity of businesses. We provide Mobile App Development in timely manner. Our Apps works on both Android and iOS Platforms.</p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/mobile-app-development">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                              <img  class="m" src="../../assets/images/services/webhosting.jpg" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/webhosting1.png"></div>
                                <h3>Web Hosting</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/webhosting1.png"></div>
                                <h3>Web Hosting</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">We2Web is a Global Website Hosting Provider to bring you the most up-to-date and cost effective web hosting services. </p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/web-hosting">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
                
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                              <img  class="m" src="../../assets/images/services/web.jpg" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/web.png"></div>
                                <h3>Web Design & Development</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/web.png"></div>
                                <h3>Web Design & Development</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">Professional website designing company in India brings you cost effective approach to design your website.We are offering Web desing services for all kind of small, medium and large enterprises.</p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/web-design-development">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                              <img class="m" src="../../assets/images/services/sco.jpg" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/s.png"></div>
                                <h3>Search Engine Optimization</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/s.png"></div>
                                <h3>Search Engine Optimization</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">A Good SEO practice is the backbone of the behavior of your website in search engine ranking. We2Webis the leading SEO service company in India. </p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/seo">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
                <!--Start single service item-->
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                    <div class="single-service-item">
                        <div class="inner-content">
                            <div class="img-holder">
                              <img class="m" src="../../assets/images/services/mohit.jpg.png" alt="Awesome Image">
                            </div>
                            <div class="title-holder">
                                <div class="icon"><img class="display-icon" src="../../assets/images/services/mohit.png"></div>
                                <h3>Graphic Desiging</h3>
                            </div>
                        </div>
                        <div class="overlay-content-top">
                            <div class="title-holder">
                                <div class="icon"><img class="mobile" src="../../assets/images/services/mohit.png"></div>
                                <h3>Graphic Desiging</h3>
                            </div>
                            <div class="text-holder">
                                <p class= "golu">We add power to graphics designing individual services. We create beautiful desings for websites, banners, flex, Visiting Cards, Brouchers, Logo and Much More..</p>
                            </div>  
                        </div>
                        <div class="overlay-content-bottom">
                            <div class="read-more-button">
                                <a routerLink="/graphic-design">Read More<span class="icon-arrows"></span></a>    
                            </div>      
                        </div>
                    </div>
                </div>
                <!--End single service item-->
            </div>
        </div>
    </section>
    <!--End services area-->
    
    <!--Start how work area-->
    <section class="how-work-area">
        <div class="container">
            <div class="sec-title text-center">
                <div class="title">How it Works</div>
                <div class="dector thm-bg-clr center"></div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <ul class="work-box">
                        <!--Start single box-->
                        <li class="single-box text-center">
                            <div class="icon-holder">
                                <span class="icon-interface"></span>
                                <div class="overlay-title">
                                    <h3>Contact for Consultation</h3>
                                </div>    
                            </div>
                            <div class="text-holder">
                                <p>How all this mistaken idea of denouncing pleasure and praising pain was born will give complete account system.</p>
                            </div>    
                        </li>
                        <!--End single box-->
                        <!--Start single box-->
                        <li class="single-box text-center">
                            <div class="icon-holder">
                                <span class="icon-graphic-1"></span>
                                <div class="overlay-title">
                                    <h3>Share Company Goal</h3>
                                </div>    
                            </div>
                            <div class="text-holder">
                                <p>Denouncing pleasure and praising pain was born and we will give you a completed expound tactual teachings.</p>
                            </div>    
                        </li>
                        <!--End single box-->
                        <!--Start single box-->
                        <li class="single-box text-center">
                            <div class="icon-holder">
                                <span class="icon-cogwheel-1"></span>
                                <div class="overlay-title">
                                    <h3>Find a Challenges</h3>
                                </div>    
                            </div>
                            <div class="text-holder">
                                <p>There anyone who loves  pursues desires to obtain pain of itself, because it is pain, but circumstances occur  toil.</p>
                            </div>    
                        </li>
                        <!--End single box-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End how work area-->
    

    <!--End footer bottom area-->
    </div>  
    
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>
    <!-- Color Palate / Color Switcher -->
  