<div class="boxed_wrapper">

    
    <!--Start breadcrumb area-->     
    <section class="breadcrumb-area" style="background-image: url(../../assets/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="title float-left">
                       <h1>Digital Marketing </h1>
                    </div>
                    <div class="breadcrumb-menu float-right">
                        <ul>
                            <li><a routerLink="">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li><a routerLink="/services">Services</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">Digital Marketing</li>
                        </ul>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area--> 
    
    <!--Start Single service area-->
    <section id="single-service-area">
        <div class="pattern-box"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="content-box">
                        <!--Start single ser top content-->
                        <div class="single-ser-top-content">
                            <div class="sec-title">
                                <h2>Introduction</h2>
                            </div>
                            <div class="inner-content">
                                <div class="img-holder">
                                    <img src="../../assets/images/services/service-single/Digital-Marketing.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-holder">
                                    <p>Everyone nowadays, from a small business owner to a huge retail organization, from fashion and beauty outlets to your next-door grocery store, is talking about digital marketing.Whether you go to LinkedIn or Instagram, Facebook or even Twitter, you will notice businesses marketing their products.You go to YouTube and, if you aren't a Premium user, you will be swamped with advertisements before the actual video begins. These are just a few examples of digital marketing practices that have become popular in recent years.</p>
                                    <a class="btn-one thm-bg-clr" href="#">Start Yours</a>
                                </div>
                            </div>
                        </div>
                        <!--End single ser top content-->
                        <!--Start planning strategies content -->
                        <div class="planning-strategies-content">
                            <div class="sec-title">
                                <h2>Thrive’s Digital Marketing Services</h2>
                            </div>
                            <div class="inner-content">
                                <div class="text">
                                    <p>Build Brand Recognition as an Industry Leader and Increase Profitability.                                    </p>
                                </div>
                                <div class="single-verticle-carousel">
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market"  src="../../assets/images/services/service-single/1.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Social Media Marketing</h3>
                                                    <p>Our digital marketing agency identifies your goals, performs competitor benchmarking and evaluates your customers' online behavior.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market1"  src="../../assets/images/services/service-single/2.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Pay Per Click (PPC) Management</h3>
                                                    <p>Our PPC Specialists are AdWords certified, so you can rest easy knowing your campaign is in the hands of professionals. </p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single last">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market"  src="../../assets/images/services/service-single/3.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Amazon Marketing Services (AMS)</h3>
                                                    <p>Getting found on Amazon is not easy! Competition is fierce and thick, so you need to find the right digital marketing company to strengthen your AMS strategy.</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    <!--Start single box-->
                                    <ul class="single-box">
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                   <img class="market"  src="../../assets/images/services/service-single/4.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Email Marketing</h3>
                                                    <p> We create personalized email newsletters to keep your emails out of spam folders and encourage your customers to take your desired action.</p>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="single">
                                            <li>
                                                <div class="icon-box">
                                                    <img class="market"  src="../../assets/images/services/service-single/5.png">
                                                </div>
                                                <div class="text-box">
                                                    <h3>Custom Website Design</h3>
                                                    <p>Our digital marketing company has a team of WordPress experts with years of experience in creating custom websites for specific niche markets.</p>
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                    <!--End single box-->
                                    
                                </div>                 
                            </div>
                        </div>
                        <!--End planning strategies content -->
                        <!--Start profit improvement box-->
                        <div class="profit-improvement-box">
                            <div class="sec-title">
                                <h2>Profit Improvement</h2>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-10">
                                    <div class="chart-box">
                                        <img src="../../assets/images/services/service-single/profit-improvement-chart2.png" alt="Chart">
                                    </div>      
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="text-holder">
                                        <div class="text">
                                            <p>There are several factors involved which helps in increasing the growth of digital marketing.</p>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Production technques (e.g. irrigation managment, recommended nitrogen inputs)</p>    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Improving agricultural productivity in terms of quantity & quality.</p>    
                                                </div>
                                            </li>
                                            <li>
                                                <div class="iocn-box"></div>
                                                <div class="text-box">
                                                    <p>Minimizing the effects of pests (weeds, insects, pathogens, nematodes).</p>    
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <!--End profit improvement box-->
                        <!--Start approach content box-->
                        <!--End approach content box--> 
                    </div>
                </div>
                
                <div class="col-xl-3 col-lg-4 col-md-9 col-sm-12">
                    <div class="sidebar-box">
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Services</h3>
                            </div>
                            <div class="service-list-box">        
                                <ul class="page-links">
                                    <li><a class="active" href="digital-marketing.component.html ">Digital Marketing</a></li>
                                    <li><a routerLink="/mobile-app-development">Mobile App Development</a></li>
                                    <li><a routerLink="/web-hosting">Web Hosting</a></li>
                                    <li><a routerLink="/web-design-development">Web Design & Development</a></li>
                                    <li><a routerLink="/seo">Search Engine Optimization</a></li>
                                    <li><a routerLink="/graphic-desiging">Graphic Desiging</a></li>                 
                                </ul>
                            </div>
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Our Brochures</h3>
                            </div>
                            <div class="service-brochures">
                                <ul class="brochures-dwn-link clearfix">
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.pdf</h5>    
                                                <span>Service Overview</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="icon-holder">
                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="title-holder">
                                                <h5>Download.doc</h5>    
                                                <span>About Our Company</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div> 
                        </div>
                        <!--End single sidebar-->
                        <!--Start single sidebar-->
                        <div class="single-sidebar">
                            <div class="title">
                                <h3>Testimonials</h3>
                            </div>
                            <div class="sidebar-testimonial-box">
                                <div class="sidebar-testimonial owl-carousel owl-theme">
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-2.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Trina Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                    <!--Start single item-->
                                    <div class="single-item">
                                        <div class="client-info">
                                            <div class="img-holder">
                                                <img src="images/testimonial/sidebar-testi-1.png" alt="">
                                            </div>
                                            <div class="title-holder">
                                                <h4>Teena Venanda</h4>
                                                <span>Newyork City</span>
                                            </div>
                                        </div>
                                        <div class="text-box">
                                            <p>Must explain too you how ut mistaken idea denoncing sed pleasure & praising pain was and we will give all actual human.</p>
                                        </div>    
                                    </div>
                                    <!--End single item-->
                                </div>
                            </div>
                        </div>
                        <!--End single sidebar-->
                    </div>
                </div> 
                
            </div>
        </div>
    </section>
    <!--End Single service area-->

    </div> 